.root {
  background-color: white;
  min-height: 100vh;

  .username {
    font-size: 1.5rem;
    color: #333;
    text-transform: capitalize;
  }
  .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
    padding: 0 50px;
    .left {
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 2rem;
      height: 85vh;
      .priceCard {
        .table {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem 0;
          border-bottom: 1px solid #ddd;
          .desc {
            color: grey;
          }
          .value {
            color: #333;
          }
        }
      }
    }
  }

  .emptyContainer {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      color: #333;
      margin-bottom: 20px;
    }
  }
}
