.root {
  margin: 10px;
  min-width: 200px;
  max-width: 200px;
  height: 300px;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial';
}

.focused {
  border-color: black;
}

.productImage {
  height: 50%;
  width: 100%;
  background-color: #eee;
  margin-bottom: 10px;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.productDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  .title {
    font-size: 1.5em;
    margin: 0 0 8px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .priceSection {
    margin-bottom: 12px;
  }

  .discountedPrice {
    font-size: 1.2em;
    color: #28a745;
    font-weight: bold;
    margin-right: 8px;
  }

  .discount {
    font-size: 0.9em;
    color: #999;
  }

  .rating {
    font-size: 0.9em;
    color: #333;
  }
}
