.root {
  margin: 0 1rem;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .product {
    border-bottom: 1px solid #ddd;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    .productImage {
      width: 120px;
      height: 120px;
      object-fit: contain;
    }

    .productDetails {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .container {
        display: flex;
        gap: 2rem;
        .section {
          padding: 4px 0;
          display: flex;
          gap: 0.5rem;
          .info {
            color: grey;
          }
          .value {
            color: #333;
          }
        }
      }
    }

    .pricing {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-end;

      .price {
        font-size: 1rem;
        color: #ff5722;
        font-weight: bold;
        .discount {
          font-size: 0.8rem;
          color: green;
          margin-left: 0.2rem;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
  }
}
